body 
{font-fontly: "Helvetica Neue", Helvetica, Arial, sans-serif;
Here is one of rules you will get...
Hone (
border: 5px solid blue;
padding:
morgin:5
width: 26
position: fixed;
bottom: 50
right: 5px
atso (
border: solid green;
podding: sex
margin: 5p
width: 25%
position: fixed;
top: Spe
right:
#three
borders S solid orange;
padding: 5
width: 25%;
position: fixed;
top: 5px
Left: S
#four
border: Sp solid yellow;
padding:
morgin:5
width: 2511 position: fixed;
bottom: 5
left: 50
position: fixed;
#link{
1
text-align: center;
color: #fefefe;
text-decoration: none;
display: inline-block;
background: #33ACAD;
}